# =========================
# Node / Backend
# =========================
node_modules/
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Frontend (Vite / React)
# =========================
dist/
build/
.vite/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Misc
# =========================
*.log
